<form id="frm_searchmos" action="searchmos/upload" method="POST" enctype="multipart/form-data">
    <div>
        <div class="Mrphs-toolTitleNav__button_container">
            <div>
                <input name="attachment" class="input-file" type="file" id="attachment" />
                <span>Upload an image file or .zip file from your computer (<100MBs)</span>
            </div>
        </div>
        <nav class="Mrphs-toolTitleNav Mrphs-container--toolTitleNav" aria-label="Tool navigation">
            <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
        </nav>
    </div>
    <div>
        <p id="resultText"></p>
    </div>
</form>
